:root {
    --background-dark: #35363a;
    --background-medium: #45474c;
    --light: #c3c3c3;
    --very-dark: #2c2d30;
    --bluish-gray: #676e7a;
    --green: #22b14d;
    --very-light: #fff;
}

body {
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: var(--light);
    background-color: var(--background-dark);
}